[submodule "src/write_policy"]
	path = src/write_policy
	url = https://github.com/Scimmiaparlante/CA_project-cache_write_policies
[submodule "replacement"]
	path = src/replacement
	url = https://github.com/unipi-fr/ReplacementHandler
